{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login mx-auto p-4">
    <h1 class="text-center">Login</h1>
    <form method="POST" action="" class="form">
        {% csrf_token %}
        <div class="form-outline my-3 mx-auto" style="width: 250px;">
            <input type="text" name="username" placeholder="Username" class="form-control" />
        </div>
        <div class="form-outline mb-4 mx-auto" style="width: 250px;">
            <input type="password" name="password" placeholder="Password" class="form-control" />
        </div>
        <div class="form-outline mb-4 mx-auto" style="width: 250px;">
            <input type="submit" name="login" value="Login" class="btn login-btn btn-outline-primary" style="width: 250px;"/>
        </div>
    </form>

    {% if messages %}
        <ul class="mx-auto text-center list-group list-group-flush">
            {% for message in messages %}
                <li 
                    class="mx-auto w-50 list-group-item 
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}list-group-item-danger{% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}list-group-item-success{% endif %}
                    "
                >
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p class="text-center">Don't have an account? <a href="{% url 'main:register' %}">Register</a> now!</p>

</div>
{% endblock content %}
