{% extends 'base.html' %}

{% block meta %}
<title>Game Inventory App</title>
{% endblock meta %}

{% block content %}
<h1>HSR Game Inventory</h1>
<p>Name: {{ name }}</p>
<p>Class: PBP {{ class }}</p>
<hr>
<h2>Current Inventory</h2>
<p>You currently have <strong>{{ item_amt }}</strong> items in your inventory, with a total of <strong>{{ total_amt }}</strong> inventory space used</p>
<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Amount</th>
        <th></th>
        <th>Description</th>
        <th>Category</th>
        <th></th>
    </tr>

    {% for item in inventory %}
        <tr>
            <td>{{ item.name }}</td>
            <td><a href="{% url 'main:add_subtract_item_by_one' id=item.pk option=1 %}"><button>+</button></a></td>
            <td>{{ item.amount }}</td>
            <td><a href="{% url 'main:add_subtract_item_by_one' id=item.pk option=0 %}"><button>-</button></a></td>
            <td>{{ item.description }}</td>
            <td>{{ item.category }}</td>
            <td><a href="{% url 'main:delete_item' id=item.pk %}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
</table>

<br>

<a href="{% url 'main:add_item' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<h5>Last login: {{ last_login }}</h5>

{% endblock content %}
