{% extends 'base.html' %}

{% block meta %}
<title>Game Inventory App</title>
<style>
    #item_table > div.card:last-child {
        background-color: #000;
        color: goldenrod;
    }
    
    div.card > h6 {
        color: #6c757d;
    }

    .ellipsis {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="mx-auto p-2">
    <h1 class="text-center">HSR Game Inventory</h1>
    <p>Name: {{ name }}</p>
    <p>Class: PBP {{ class }}</p>
    <hr>
</div>

<div id="addModal" class="modal fade" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="addModalLabel" class="modal-title fs-5">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="form" class="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Item name">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="1">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <select id="category" name="category">
                            <option value="CHAR_EXP" selected>Character EXP Material</option>
                            <option value="LC_EXP">Light Cone EXP Material</option>
                            <option value="RELIC_EXP">Relic EXP Material</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="add_button" class="btn btn-outline-primary" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto mb-1 p-2">
    <h2>Current Inventory</h2>
    <p>You currently have <strong>{{ item_amt }}</strong> items in your inventory, with a total of <strong>{{ total_amt }}</strong> inventory space used</p>
</div>

<div id="item_table"></div>

<br>

<div class="mx-auto px-1 pb-3" style="display: inline-block;">
    <a href="{% url 'main:add_item' %}">
        <button class="btn btn-outline-primary" style="display: inline-block;">
            Add New Item
        </button>
    </a>
</div>

<div class="mx-auto px-1 pb-3" style="display: inline-block;">
    <button 
        type="button" class="btn btn-outline-primary" 
        data-bs-toggle="modal" data-bs-target="#addModal" 
        style="display: inline-block;"
    >
        Add New Item AJAX
    </button>
</div>

<div class="mx-auto px-1 pb-3" style="display: inline-block;">
    <a href="{% url 'main:logout' %}">
        <button class="btn btn-outline-danger" style="display: inline-block;">
            Logout
        </button>
    </a>
</div>

<h5 class="px-2">Last login: {{ last_login }}</h5>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}")
            .then((res) => res.json());
    }

    async function refreshItems() {
        document.getElementById("item_table").innerHTML = "";
        const items = await getItems();
        let htmlString = ``;
        items.forEach((item) => {
            const pk = item.pk;
            const subtractUrl = "{% url 'main:add_subtract_item_by_one' id=1 option=0 %}".replace("1", pk);
            const addUrl = subtractUrl.replace("0", 1);
            const deleteUrl = "{% url 'main:delete_item' id=0 %}".replace("0", pk);
            htmlString += `
            <div class="card my-2 mx-1" style="width: 18rem; display: inline-block;">
                <div class="card-body">
                    <h5 class="card-title ellipsis">${item.fields.name}</h5>
                    <h6 class="card-subtitle mb-2">Amount: ${item.fields.amount}</h6>
                    <p class="card-text ellipsis" style="height: 4.5rem;">${item.fields.description}</p>
                    <button onclick="addAmountByOne(${pk});" class="btn btn-outline-primary" style="width: 40px; height: 40px;">+</button>
                    <button onclick="subtractAmountByOne(${pk});" class="btn btn-outline-danger" style="width: 40px; height: 40px;">-</button>
                    <button onclick="deleteItem(${pk});" class="btn btn-outline-danger" style="float: right;">Delete</button>
                </div>
            </div>
            `;
        });

        document.getElementById("item_table").innerHTML = htmlString;
    }

    refreshItems();
        
    function addItem() {
        fetch("{% url 'main:create_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector("#form"))
        }).then(refreshItems);

        document.getElementById("form").reset();
        return false;
    }

    function deleteItem(id) {
        fetch("{% url 'main:delete_ajax' id=0 %}".replace("0", id))
            .then(refreshItems);
        return false;
    }

    function addAmountByOne(id) {
        fetch("{% url 'main:add_subtract_item_by_one' id=0 option=1 %}".replace("0", id))
            .then(refreshItems);
        return false;
    }

    function subtractAmountByOne(id) {
        fetch("{% url 'main:add_subtract_item_by_one' id=1 option=0 %}".replace("1", id))
            .then(refreshItems);
        return false;
    }

    document.getElementById("add_button").onclick = addItem;
</script>
{% endblock content %}
